<section id="footer" class="pt-2 pb-3 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-12 px-0">
        <ul class="nav flex-column flex-md-row text-center text-md-left">
          {% for item in menu %}
            <li class="nav-item{% if item.active %} active{% endif %}">
              <a class="nav-link text-white" href="{{ item.url }}"><small>{{ item.title }}{% if item.active %} <span class="sr-only">(active trail)</span>{% endif %}</small></a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>

<section id="footer-bar" class="py-3">
  <div class="container">
    <div class="row">
      <div class="col-12 text-white text-center text-md-left">
        <small>
          &copy; <span id="copyright-year"></span> {{company.getName()}}.<br>
          {% if company.isRegistered() %}
            <small>{{company.getRegisteredName}} registered in {{company.getCountryOfRegistration()}}. Company N<sup>o.</sup> {{company.getRegistrationNumber()}}<small><br>
          {% endif %}
          <small>
            <a href="https://brand.rehab" class="rehab-link">Website <i class="fas fa-code" aria-hidden="true"></i> with <i class="fas fa-heart" aria-hidden="true"></i> by <span class="secondary">Rehab</span></a>
          </small>
        </small>
      </div>
    </div>
  </div>
</section>

{% if reload %}
  <script>
    (function () {
      const source = new EventSource('/dev/hot-reload');
      source.addEventListener('reload', function(event) {
          source.close();
          window.location.reload();
      }, false);
    })();
  </script>
{% endif %}
